---
import Layout from '../../layouts/Layout.astro';
import OpenMeteoIsland from '../../components/OpenMeteoIsland.vue';

---

<Layout title="Welcome to Astro.">
	<main>
    <h1 class="text-gradient">OpenMeteo</h1>
    <div class="instructions landing-text">
      <p>
        This is a Vue island component inside a statically build Astro page.
      </p>
      <p>
        This is a page to show the data from the OpenMeteo API - 
      </p>
      <p>
        The data is fetched from the API running on an Actix webserver (Rust btw) on localhost:3000/api/openmeteo where the statistics are calculated and delivered to the client.
      </p>
  </div>
    <OpenMeteoIsland client:load />
	</main>
</Layout>
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		text-align: center;
	}
  .landing-text {
  max-width: 75%;
  margin-inline: auto;
  }

</style>
